.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin-left: auto; /* Sol marjı otomatik ayarlayarak sağa itme */
  margin-right: 25px; /* Sağ marjı sıfır yap */
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #4aea10;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #999999, -35px 50px 0 #bab9b9, -70px 95px 0 #b1b0b0;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #8b8a8a,
      -35px 50px 0 #8c8c8c, -70px 90px 0 #8b8a8a;
  }

  100% {
    box-shadow: 0 10px 0 #a0a0a0, -35px 50px 0 #bab9b9, -70px 90px 0 #acabab,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
